
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:ital,wght@1,300&display=swap');

  
  body {
    font-family: "Josefin Sans", sans-serif;
  }

  /* hero section end */  

  .hero-section img{
    width: 100%;
    height: 100%;
  }

  /* hero section end */

  /* about us section start */

  .section1 {
    padding-top: 30px;
    margin: 20px;
    border-radius: 20px;
    background-color: #0e2939;
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    padding-bottom: 10%;
  }
  
  .section1 .container {
    width: 70%;
    margin: 0 auto;
  }
    
  .section1 .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
  }
  
  .section1  .img-wrapper {
    width: 50%;
  }
  
  .section1 .img{
    width: 300px;
    height: 300px;
    background: #fff;
    margin-left: -70px;
  }
  
  .section1 .text-wrapper{
    width: 50%;
  }
  
  .section1 .text {
    color: #fff;
    margin-bottom: 1em;
  }
  
  .section1 .btn-wrapper {
    margin-top: 2em;
  }
  
  .section1 .btn {
    color: #fff;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #fff;
    padding: 0.5em 2em;
    font-size: 1.1em;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
  }
  
  .section1 .btn:hover {
    background-color: #fff;
    color: rgb(136, 29, 181);
  }



/* about us section end */

/* technology used start */

.tech-section{
  margin-top: 50px;
  height: 200px;
  width: 100%;
  padding: 30px;
  background-color: #0e2939;
  margin-bottom: 30px;
}

.logo-slider {
  overflow: hidden;
  padding: 30px 0 0 0;
  white-space: nowrap;
  position: relative;
}

.logo-slider:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 45s slide infinite linear;
}

.logos-slide .fa-brands {
  color: #fff;
  width: 187px;
  margin: 0 40px;
  font-size: 100px;
}

@keyframes slide {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-100%);
  }
}

/* technology used end */

/* our services start */

.our-services a {
  text-decoration: none;
  margin: 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 1px;
}

.our-services p {
  font-size: 0.9rem;
  margin: 1rem 0;
  line-height: 1.5;
}

.our-services {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.service a {
  color: #5b7abb;
  display: block;
}

.service h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

.services-grid {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.service {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}

.service1 i,
.service1 h4,
.service1 .cta {
  color: #42b7ca;
}

.service1:hover {
  border: 2px solid #42b7ca;
}

.service2 i,
.service2 h4,
.service2 .cta {
  color: #425fca;
}

.service2:hover {
  border: 2px solid #425fca;
}

.service3 i,
.service3 h4,
.service3 .cta {
  color: #9c42ca;
}

.service3:hover {
  border: 2px solid #9c42ca;
}

.service4 i,
.service4 h4,
.service4 .cta {
  color: #6e308d;
}

.service4:hover {
  border: 2px solid #6e308d;
}

.service .cta span {
  font-size: 0.6rem;
}

.service > * {
  flex: 1 1 100%;
}

.service .cta {
  align-self: flex-end;
}

@media all and (max-width:900px) {
  .services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

/* our services end */

/* information technology start */
.info-sec .example img{
  width: 100px;
  height: 100px;
}

.info-sec ul{
  margin-top: 1rem;
  padding-left: 0;
}

.info-sec li{
  list-style: none; 
  margin: 5px;
}

.info-sec li i{
  font-size: 20px;
  color: rgb(199, 67, 255);
}

/* information technology end */

/* science and technology start */

.about .container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .about .container {
    width: 85%;
    padding: 0;
  }
  }
  
  @media (min-width: 550px) {
  .about .container {
    width: 80%;
  }
}

.about {
  padding: 0px 0 50px 0;
}

.six.columns {
  margin: 10px;
  width: 47%;
}

.about .icon {
  font-size: 50px;
  padding-right: 10px;
  color: rgb(199, 67, 255);
}

/* science and technology end */




